# ⠀ⓥ 2022     🌩    🌩     ⠀   ⠀
# ⠀         🌩 V͛o͛͛͛lt͛͛͛i͛͛͛͛so͛͛͛.com⠀  ⠀⠀⠀

root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 2
tab_width = 2
max_line_length = 80
trim_trailing_whitespace = false #! incompatible with prettier - but we use it for `putout/align-spaces`
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space

[{package.json,package.*.json}]
indent_style = space
