# ⠀ⓥ 2022     🌩    🌩     ⠀   ⠀
# ⠀         🌩 V͛o͛͛͛lt͛͛͛i͛͛͛͛so͛͛͛.com⠀  ⠀⠀⠀

.tsc-out/
_outDir_PLEASE_OVERRIDE

node_modules/

dist/

traceDir/

*.tgz
*.log
*.tsbuildinfo
.turbo

firebase-*.json

output_path
