/node_modules/

/dist/

/array/
/bdd/
/boolean/
/class/
/clone/
/compiler-options/
/error/
/function/
/null/
/number/
/object/
/parser/
/promise/
/set/
/string/
/symbol/

*.tgz
*.log
.tsc-out
*.tsbuildinfo
