# ⠀ⓥ 2022     🌩    🌩     ⠀   ⠀
# ⠀         🌩 V͛o͛͛͛lt͛͛͛i͛͛͛͛so͛͛͛.com⠀  ⠀⠀⠀

@voltiso:registry=https://npm.pkg.github.com

strict-peer-dependencies=true # strict
auto-install-peers=false      # ! SLOW
hoist=false                   # strict

# fix `cannot be names without a reference to...` errors
# public-hoist-pattern[]=eslint-define-config
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=*prettier*

# hoist-pattern[]=*babel*
