# ⠀ⓥ 2023     🌩    🌩     ⠀   ⠀
# ⠀         🌩 V͛o͛͛͛lt͛͛͛i͛͛͛͛so͛͛͛.com⠀  ⠀⠀⠀

strict-peer-dependencies=true # strict
hoist=false                   # strict
auto-install-peers=false      # ! `true` is SLOW
