@voltiso:registry=https://npm.pkg.github.com

strict-peer-dependencies=true # strict
auto-install-peers=false      # strict - and `true` seems not to be working properly
hoist=false               # strict
