dist/
.tsc-out/
.turbo/
node_modules/
pnpm-lock.yaml

/array/
/bdd/
/boolean/
/class/
/clone/
/compiler-options/
/error/
/function/
/null/
/number/
/object/
/parser/
/patch/
/promise/
/set/
/string/
/symbol/
